.min-h-screen{
    .chatbotUI{
        position:fixed;
        bottom:25px;
        right:25px;
        font-size: 32px;
        padding:8px;
        color:white;
        background-color: rgb(148, 160, 185);
        border-radius: 8px;
        z-index: 1000;
        cursor: pointer;

        &:hover{
            background-color:white;
            color:rgb(148, 160, 185);
        }
    }
}